### Configure the user to use to run the monitor service.  If you do not
### specify a user, the server will run as the current user.  If you specify
### user, you must start the monitor service as root, and the service will
### drop privileges after opening the server port.  The group option is ignored
### if use is not specified.  The group option otherwise defaults to the user,
### if not specified.
# user=
# group=

### Configure console listen port.  If TLS options are specified below, the
### default port is 443.  Otherwise, it is 80.
# port=
